.parent-main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    padding: 120px 0px;
}


.left-content{
    flex: 3;
    font-size: 40px;
    background-color: rebeccapurple;
}

.left-content h2{
    font-size: 84px;
}


.right-content{
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
}