.parent-resume{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 70px 0px 10px 0px;
}

.subject-container{
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
}

.subject-container h1{
    flex: 4;
    font-size: 30px;
}

/******** EXPLANATION *************/

.subject-container .explanation{
    flex: 9;
}

.subject-container li{
    font-size: 20px;
    margin-bottom: 12px;
}

.subject-container img{
    max-width: 50px;
    max-height: 50px;
    margin: 0px 15px;
    margin-bottom: 25px;
}

.subject-container h4{
    margin-bottom: 55px;
}

