
.container{
    display: flex;
    flex-direction: row;
    height: 300px;
    margin: 50px 0px 90px 0px;
    justify-content: center;
    align-items: center;
}

.text-side{
    flex: 5;
    font-size: 22px;
    padding: 0px 30px;
    display: flex;
    flex-direction: column;
}

.link-container{
    display: flex;
    font-size: 27px;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
}

.link-container a{
    text-decoration: none;
}


.image-side{
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-side img{
    width: 540px;
    height: 360px;
}